/* ВЫРАВНИВАНИЕ ТЕКСТА ПО СЕРЕДИНЕ*/
#text {
	  width: 120px; /* Ширина элемента в пикселах */
      padding: 10px; /* Поля вокруг текста */
      margin: auto; /* Выравниваем по центру */
      } 
/* рамка */
#text {
	border: 2px solid #e34761; /* Параметры рамки */
    background: #f3dbdf; /* Цвет фона */
    padding: 5px 20px; /* Поля вокруг текста */
    border-radius: 5px;
}